.menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    display: none;

    width: 100vw;
    height: 100vh;

    padding-left: 5vw;

    color: #FFF;

    background-color: rgba($color: #000, $alpha: 0.35);


    &-container {
        display: flex;
        align-items: center;

        h1 {
            font-size: 2.5rem;
            text-transform: uppercase;
        }
    }
}